.wrap{
  height: 40px;
  max-width: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.castomInput{
  display: block;
  border-radius: 5px;
  border: 1.5px orange solid;
  height: 40px;
  width: 70%;
  outline: none;
  font-size: 25px;
  padding: 0 10px;
  margin-right: 5px;
}
.castomBtn{
  height: 43px;
  width: 30%;
  background-color: orange;
  border: 1.5px orange solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.castomBtn:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}