li{
  list-style-type: none;
  margin-bottom: 10px;
}
ul{
  padding: 0 10%;
  overflow: auto;
}
.mainContent {
  overflow: auto;
  max-height: 60%;
}
.text{
  margin-top: 15px;
  text-align: right;
  margin-right: 2%;
}
h2{
  margin-bottom: 0;
}